:root {
    --datapoints: 160;
    --dotdimensions: 0.15rem;
    --dotgap: 0.15rem;
    --tube-height: 10rem;
    --tube-end: solid 0.2rem black;
    --medium-width: calc((var(--dotdimensions) + var(--dotgap))*var(--datapoints));
    --medium-padding: 2px;
    --slidercoverwidth: 1rem;

    --backgnd: #e4e2df;
    --colour1: #0ead86;
    --colour2: #a3d1c5;
    --wave1colour: #315be2;
    --wave2colour: rgb(218, 62, 23);
    --resultantwavecolour: rgb(126, 0, 165);
    
    font-size: 1.05rem;
    background-color: var(--backgnd);
    font-family: 'DejaVu Sans Mono', 'Liberation Mono', monospace;

    --parameterslider-length: 6rem;
    --parameterslider-thicc: 0.5rem;
}