@import url("sliders.css");
@import url("parameters.css");
@import url("./sim-info-pages/infopage.css");

:root{
    background-color: var(--background-color);
    transition: background-color 0.8s;
}
body {
    margin: 0;
    height: 100vh;
}
#main {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 100vh;
    overflow: scroll;
}
#simulation{
    display: flex;
    flex-flow: column;
    margin-left: 3rem;
    flex-shrink: 0;
    width: 58rem;
}
#waveactivity{
    display: flex;
    flex-flow: column;
    gap: 3rem;
    padding-top: 1rem;
}
#controlpanel{
    margin-left: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    padding-top: 1rem; 
}

.container{
    position: relative;
    width: calc(var(--medium-width) + var(--slidercoverwidth) + 2*var(--dotdimensions));
}
#parameters{
    display: flex;
    gap: 2.5rem;
}
#parameters > * {background-color: var(--control-color);}
    #media-vrange { background-color: transparent;}
    #media-vrange > * {background-color: var(--control-color);}


#sim-selector {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}
.sim-type{
    padding: 0.5rem;
    width: 9rem;
    border: 0.2rem solid var(--colour1);
    background-color: var(--control-color);
    text-align: center;
    opacity: 75%;
}
.sim-type:hover{
    opacity: 65%;
    translate: 0rem 0.2rem;
}
.selected{
    font-weight: 700;
    background-color: var(--colour2);
    opacity: 100%;
}
.tube {
    display: flex;
    align-items: center;
    height: var(--tube-height);
    border-left: solid 0.2rem var(--tick-color);
    overflow: visible;
    color: var(--font-color) !important;
}
.tube-gap {
    margin-left: calc(var(--dotdimensions)*-0.5);
}

.draggablecover{
    position: relative;
    width: var(--slidercoverwidth);
    height: inherit;
    margin-left: auto;
    z-index: 2;
    background-color: var(--background-color);
    transition: background-color 0.8s;
    border-left: solid 0.2rem var(--tick-color);
    overflow: visible;
}

#stringlenwrapper > n {
    left: 0;
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    transform: none;
}
#L {
    top: 55%;
    border-bottom: 0.15rem solid var(--tick-color);
    overflow: visible;;
}
#L-lambda {
    bottom: 30%;
}

.axis{
    position: absolute;
    width: calc(var(--medium-width) - 0.1rem);
    margin: var(--medium-padding);
    height: 0.08rem;
    translate: 0.03rem calc((var(--tube-height)/-2) - 0.1rem);
    background-color: var(--axis-color);
    color: var(--font-color);
    transition: background-color 0.8s;

    overflow: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#axis-extension {
    margin-left: calc(var(--medium-padding) + var(--medium-width) + var(--dotdimensions));
}
#media-boundary, #media-boundary-sum {
    position: absolute;
    left: calc(var(--medium-width));
    bottom: 0;
    height: 100%;
    width: 0.3rem;
    background-color: rgba(0, 0, 0, 0.4);
}
n{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.2rem;
    font-size: 0.80rem;
    transition: opacity 0.2s;
}
majmrk , minmrk {
    position: relative;
    width: 0.08rem;
    background-color: var(--tick-color);
}
majmrk {height: 0.8rem; width: 0.1rem;}
minmrk {height: 0.5rem; margin-bottom: 0.3rem;}

#analytics{
    display: flex; 
    flex-flow: row; 
    gap: 0.5rem; 
    float: right; 
    padding-top: 1rem;
    font-size: 0.9rem;
    letter-spacing: -1px;
    color: var(--font-color);
    transition: color 0.8s;

}
button{
    font-family: 'DejaVu Sans Mono', 'Liberation Mono', monospace;
    font-weight: bold;
}

.medium{
    position: absolute;
    width: var(--medium-width);
    height: inherit;

    display: flex;
    align-items: center;
    gap: var(--dotgap);

    padding: var(--medium-padding);
    overflow: visible;
    z-index: 1;
}
#wavemedium-reflected, #wavemedium-reflected2 {
    z-index: 0;
}

dot, dot2, dotsum, dot3 {
    position: relative;
    flex: 0 0 auto;
    width: var(--dotdimensions);
    height: var(--dotdimensions);
}
dot {background-color: var(--wave1colour)}
dot2 {background-color: var(--wave2colour);}
dotsum {background-color: var(--resultantwavecolour);}
dot3 {background-color: var(--wave3colour);}

.str1 {
    transform: var(--str1);
}
.str2 {
    transform: var(--str2);
}


.side-by-side {
    width: calc(var(--medium-width)*2);
}
.none {
    display: none !important;
}
.hide {
    opacity: 0 !important;
}
.relative {
    position: relative !important;
}
.unclickable {
    opacity: 40%;
    pointer-events: none;
}
.free-end{
    border: none !important;
}

#infopage-wrapper {
    width: 40rem;
    align-self: center;
    width: 45rem;
    display: flex; flex-flow: column;
    gap: 0.8rem;
}
#infopage {
    padding: 3rem;
    padding-top: 2rem;
    font-family: var(--font2);
    font-size: 0.8rem;
    line-height: 1.4rem;
    
    height: 37rem;
    max-width: 40rem;
    overflow-y: scroll;


    background-color: var(--info-color);
    color: var(--font-color);
    border-bottom: 2px solid var(--font-color);
    
    transition: background-color 0.8s, color 0.8s, 
    max-width 0.6s, transform 0.4s;
}
#infopage.short {
    max-width: 20rem;
    transform: translateX(20rem);
}
    .MathJax {
        font-size: 0.95rem !important;
    }
    #infopage p {
        margin-bottom: 1.2rem;
    }
    #infopage li {
        margin-bottom: 0.2rem;
    }
    #infopage ul {
        margin-bottom: 2rem;
    }
    .citation {
        margin-top: 2rem;
        font-size: 0.9em;
        opacity: 0.7;
    }

#titlecard {
    height: 3rem;
    padding-left: 1rem;
    font-size: 0.88rem;
    display: flex; align-items: center; gap: 0.75rem;
    color: var(--font-color);
}
    .titlecard-link {
        color: var(--link-colour);
        transition: color 0.8s;
    }