@import url("constants.css");

#slidercover {
    float: right;
    margin: 0;
    width: calc(var(--dotdimensions)*4 + var(--slidercoverwidth) + var(--medium-width)/2);
    height: 1rem;
    background: rgb(192, 201, 198);
    opacity: 0.7;
    transform: rotate(180deg);
    z-index: 2;
}

#slidercover::-webkit-slider-thumb {
    appearance: none;
    width: 1.2rem;
    height: inherit;
    background: var(--colour1);
    border-bottom: 0.2rem black solid;
    cursor: pointer;
}

#slidercover::-moz-range-thumb {
    width: 1.2rem;
    height: inherit;
    background: var(--colour1);
    border-top: 0.2rem black solid;
    cursor: poinrgb(96, 201, 162)
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.parameter-slider{
    writing-mode: horizontal-tb; 
    direction: ltr;
    appearance: slider-vertical;
    width: calc(var(--parameterslider-length)*1.2); 
    height: var(--parameterslider-thicc);
    border: 0.1rem solid #313131;
    vertical-align: bottom;
    outline: none;
}
.parameter-slider.vertical{
    writing-mode: vertical-lr;
    direction: rtl;
    height: var(--parameterslider-length);
    width: var(--parameterslider-thicc);
}


.parameter-slider::-webkit-slider-runnable-track {
    background: var(--colour2);
    height: calc(var(--parameterslider-thicc) - 0.1rem);
    border: none;
}
.parameter-slider::-moz-range-track {
    background: var(--colour2);
    height: calc(var(--parameterslider-thicc) - 0.1rem);
    width: 100%;
}
.parameter-slider::-ms-track {
    background: var(--colour2);
    height: calc(var(--parameterslider-thicc) - 0.1rem);
    width: 100%;
    color: transparent;
}

.parameter-slider.vertical::-webkit-slider-runnable-track {
    background: var(--colour2);
    height: calc(var(--parameterslider-length) - 0.1rem);
    border: none;
}
.parameter-slider.vertical::-moz-range-track {
    background: var(--colour2);
    height: calc(var(--parameterslider-length) - 0.1rem);
    border: none;
}
.parameter-slider.vertical::-ms-track {
    background: var(--colour2);
    height: calc(var(--parameterslider-length) - 0.1rem);
    color: transparent;
}




.parameter-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #242424; /* Example thumb color */
    border: 0.1rem solid #1d1d1d;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin-top: -5px; /* Adjust to center the thumb on the track for vertical sliders */
}

.parameter-slider::-moz-range-thumb {
    background: #242424; /* Example thumb color */
    border: 0.1rem solid #1d1d1d;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.parameter-slider::-ms-thumb {
    background: #242424;
    border: 0.1rem solid #1d1d1d;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#light-dark-toggle-wrapper {
    margin-left: auto;
    display: flex; align-items: center; gap: 0.5rem;
    font-size: 0.8rem;
}
    .switch {
    border: 1px solid white;
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-height);
    }

    #toggleinput { opacity: 0; width: 0; height: 0;}

    .toggle {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--tick-color);
    -webkit-transition: .4s;
    transition: .4s;
    }


    .toggle:before {
    position: absolute;
    content: "";
    height: calc(0.7 * var(--toggle-width));
    width: calc(0.7 * var(--toggle-width));
    left: calc(0.15 * var(--toggle-width));
    top: calc(0.25 * var(--toggle-width));
    background-color: var(--background-color);
    transition: .4s;
    }

    #toggleinput:checked + .toggle:before {
    transform: translateY(calc(0.85*var(--toggle-width)));
    }

    #light-dark-toggle-text{
        width: 5rem;
    }